<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <div class="inventory-page">
      <div class="admin-nav-container">
        <a href="#">Products</a>
        <a href="#">Categories</a>
      </div>
      <div class="product-options-container">
        <div class="add-new-container">
          <span>NEW</span>
        </div>
        <span>Name</span>
        <span>Description</span>
        <span>Category</span>
        <span>Price</span>
        <span>Stock</span>
      </div>
      <div class="products-main-container">

        <% products.map((e) => { %>
          <div class="product-container">
            <div class="product-edit-container">
              <div class="edit-container">
                <span>Edit</span>
                <span>Delete</span>
              </div>
              <div class="image-container">
                <img src=<%= '/images/uploads/' + e.image_id %> alt="product photo">
              </div>
            </div>
              <span><%= e.name %></span>
              <span><%= e.description %></span>
              <span><%= e.category.name %></span>
              <span><%= e.price %></span>
              <span><%= e.stock %></span>
          </div>
          <% }) %>
      </div>
    </div>
  </body>
</html>
