<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <div class="inventory-page content layout">
      <div class="admin-nav-container">
        <a href="/admin/inventory">Products</a>
        <a href="/admin/categories">Categories</a>
      </div>
      <div class="product-options-container">
        <div class="add-new-container">
          <a href="/admin/product/create">
            <i class="bi bi-plus-circle"></i>
            NEW
          </a>
        </div>
        <span>Name</span>
        <span>Description</span>
        <span>Category</span>
        <span>Price</span>
        <span>Stock</span>
      </div>
      <div class="products-main-container">

        <% products.map((e) => { %>
          <div class="product-container">
            <div class="product-edit-container">
              <div class="edit-container">
                <a href=<%= e.admin_url %>>Edit</a>
                <a href="#">Delete</a>
              </div>
              <div class="image-container">
                <img src=<%= '/images/uploads/' + e.image_id %> alt="product photo">
              </div>
            </div>
              <span class="product-detail"><%= e.name %></span>
              <span class="product-detail product-description"><%= e.description %></span>
              <span class="product-detail"><%= e.category.name %></span>
              <span class="product-detail">$<%= e.price %></span>
              <span class="product-detail"><%= e.stock %></span>
          </div>
          <% }) %>
      </div>
    </div>
  </body>
</html>
