<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/nav') %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1><%= product.name %></h1>  
  </body>
</html>
